#login{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#login img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.oval{
    padding: 9px 0;
}
.login_input_box_password{
    width: 100%;
    position: relative;
}
.login_open_eye {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    color: #000;
}
.login_closs_eye{
    position: absolute;
    right:20px;
    top: 20px;
    font-size: 20px;
    color: #000;
}
